@{
    ViewData["title"] = "Danh sách người dùng ";
}
<h2>Danh sách người dùng</h2>
<a asp-action="Create" class="btn btn-info btn-sm" asp-controller="User">Thêm người dùng</a>
<table class="table" id="myTable">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã người dùng</th>
            <th scope="col">Tên người dùng</th>
            <th scope="col">Email</th>
            <th scope="col">Mật khẩu mã hoá</th>
            <th scope="col">Quyền người dùng</th>
            <th scope="col">Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userRole in Model)
        {
            <tr>
                <th class="js-limit" scope="row">@userRole.User.Id</th>
                <td>@userRole.User.UserName</td>
                <td>@userRole.User.Email</td>
                <td class="js-limit">@userRole.User.PasswordHash</td>
                <td>@userRole.RoleName</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="User" asp-route-Id="@userRole.User.Id">Sửa</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="User" asp-route-id="@userRole.User.Id">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    document.querySelectorAll('.js-limit').forEach(td => {
        if (td.textContent.length > 15) {
            td.textContent = td.textContent.substring(0, 15) + '...';
        }
    });
</script>
